.container {
  border-radius: 20px;
  border: 2px double #192f57;
  padding: 30px;
  margin-top: 40px;
}

.title {
  color: #192f57;
}

.buttonInc {
  background-color: #17571a;
  color: #fff;
  margin: 20px;
}

.buttonDec {
  background-color: #5c1818;
  color: #fff;
  margin: 20px;
}
